h1{
    font-family: 'Pacifico', cursive;
    border-radius: 0.3rem;
    border: solid 0.2rem;
    border-color: lightseagreen;
    margin-left: auto;
    margin-right: auto; 
    background-color: lightgreen;
    color: dodgerblue;
    width: 30rem;
    text-align: center;
}



.form{
    font-size: 1.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
    border:  solid 0.2rem;
    border-color: blueviolet;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: greenyellow;
    width: 30rem;
}

p{
    color: olive;
}