.bjr{
     border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    background-color: springgreen;
    text-align: center;
   color: forestgreen; 
   font-size: 2rem;
}

.acceuil{
     border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    background-color: lightgreen;
    text-align: center;
   color: olivedrab; 
   font-size: 1.2rem;
}

b{
    color: red;
}

.background{
    border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    background-color: cornflowerblue;
}